@model CadastroDeUsinas.Models.Usina

@{
    ViewData["Title"] = "Delete";
}

<div class="border-bottom">
    <h6>Apagar Usina</h6>
</div>
<br />
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsAtivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsAtivo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UcDaUsina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UcDaUsina)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeFornecedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeFornecedor)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="UsinaId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> 
        &nbsp;
       <a class="btn btn-danger" asp-action="Index">Fechar</a>
    </form>
</div>
