@model ReflectionIT.Mvc.Paging.PagingList<CadastroDeUsinas.Models.Usina>

@{
    ViewData["Title"] = "Index";
}
<div class="border-bottom">
    <h6>Listagem de usinas de Geração Distribuída</h6>
</div>

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white box-shadow mb-3">
    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
        <form method="get" class="form-inline">
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                <a class="nav-link text-dark">Fornecedor</a>
            </li>
            <li>
                <select name="filter2" class="nav-link text-dark" placeholder="Selecione"
                           value="@Model.RouteValue["Filter2"]"> 
                    <option value="Selecione">Selecione</option>
                     <option value="SOLARIAN">SOLARIAN</option>
                     <option value="FUTURA">FUTURA</option>
                     <option value="CENTRAL GERADORA FAZENDA MODELO">CENTRAL GERADORA FAZENDA MODELO</option>
                     <option value="NOVA MUNDO">NOVA MUNDO</option>
                     <option value="SOLARE">SOLARE</option>
                     <option value="UNISOL">UNISOL</option>
                </select>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark">Ativo</a>
            </li>
            <li>
                <select name="filter3" class="nav-link text-dark" value="@Model.RouteValue["Filter3"]"> 
                     <option value="Selecione">Selecione</option>
                     <option value="true">Sim</option>
                     <option value="false">Não</option>
                </select>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark">UC da usina</a>
            </li>
            <li>
                    <input name="filter" class="nav-link text-dark" placeholder="Selecione"
                           value="@Model.RouteValue["Filter"]" />
                    <br>
                    <a class="btn btn-success" asp-action="Create">Cadastrar</a>
                    <button type="submit" class="btn btn-success" align="right">Filtrar dados </button>
            </li>
        </ul>
        </form>
    </div>   
</nav>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeFornecedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UcDaUsina)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAtivo)
            </th>
            <th>
                Ação
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeFornecedor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UcDaUsina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAtivo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UsinaId">Editar</a> |
                <a asp-action="Delete" asp-route-id="@item.UsinaId">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>

Usinas encontradas: @Model.TotalRecordCount
<div>
   <vc:pager paging-list="@Model"></vc:pager>
</div>
